.intro {
    color: #262626;
    background: url('../image/intro/background_header.png');
    background-position: center center;
    position: relative;
    top: -60px;
    height: 900px;
    

    .container {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &-discr__title {
        @include ralewayheavy();
        font-size: 60px;
    }

    &-discr__text {
        @include ralewaylight();
        font-size: 17px;
    }

    &__btn {
        background: #ff5f33;
        padding: 15px 25px;
    }
}
