@mixin pacificoregular {
    font-family: 'pacificoregular', sans-serif;
    font-weight: 400;
}

@mixin ralewaybold {
    font-family: 'ralewaybold', sans-serif;
    font-weight: 700; 
}

@mixin ralewayheavy {
    font-family: 'ralewayheavy', sans-serif;
    font-weight: 900;
}

@mixin ralewaylight {
    font-family: 'ralewaylight', sans-serif;
    font-weight: 300;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
